<div id="header__menu" class="index header__mobile header__menu-background">
    <div class="header__links header__mobile">
        <div>
            <a href="https://docs.timescale.com/latest/getting-started/installation" data-beacon="outbound" data-label="Get Started" class="header__button timescale-btn mobileshow">
                Get Started
            </a>
        </div>
        <a href="https://www.timescale.com/learn" class="header__link" target="" data-beacon="internal" data-label="Learn">Learn</a>
        <a href="https://www.timescale.com/pricing" class="header__link" target="" data-beacon="internal" data-label="Pricing">Pricing</a>
        <a href="https://www.github.com/timescale/timescaledb" class="header__link" target="_blank" data-beacon="outbound" data-label="Github">Github</a>
        <a href="https://docs.timescale.com" class="header__link" target="_blank" data-beacon="outbound" data-label="Docs">Docs</a>
        <a href="/" class="header__link" data-beacon="outbound" data-label="Blog">Blog</a>
        <a href="https://slack.timescale.com" class="header__link" target="_blank" data-beacon="outbound" data-label="Support">Support</a>
    </div>
</div>
<div class="header mobileshow">
    <div class="header__inner">
        <a href="https://www.timescale.com" class="header__logo" data-label="Logo link" data-beacon="internal">
            <img src="/assets/logo-horizontal.svg" />
        </a>
        <div class="header__links">
            <a href="https://www.timescale.com/learn" class="header__link" target="" data-beacon="internal" data-label="Learn">Learn</a>
            <a href="https://www.timescale.com/pricing" class="header__link" target="" data-beacon="internal" data-label="Pricing">Pricing</a>
            <a href="https://www.github.com/timescale/timescaledb" class="header__link" target="_blank" data-beacon="outbound" data-label="Github">Github</a>
            <a href="https://docs.timescale.com" class="header__link" target="_blank" data-beacon="outbound" data-label="Docs">Docs</a>
            <a href="/" class="header__link" data-beacon="outbound" data-label="Blog">Blog</a>
            <a href="https://slack.timescale.com" class="header__link" target="_blank" data-beacon="outbound" data-label="Support">Support</a>
            <a href="https://docs.timescale.com/latest/getting-started/installation" target="_blank" data-beacon="outbound" data-label="Get Started" class="header__button timescale-btn get-started-btn index">
                    Get started
            </a>
        </div>
        <div class="header__mobile">
            <div id="header__menu-button" class="header__menu-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>